body {
    font-family: 'Trebuchet MS' !important;
}
.main {
    border: 1px solid #0f2851;
}
/* place's details container */
.placeContainer2 {
    background-color: #0f2851;
    width: 100%;
    color: white;
    padding: 10px;
}
.place_details2 {
    margin-left: 2%;
}
#map {
    height: 300px;
    width: 100%;
}
