body {
    background-image: url("login/resource/222.jpg") !important;
}
.loginForm {
    border: 1px solid grey; 
    margin: 10% auto;
    box-shadow: 5px 5px rgb(175, 173, 173);
    width: 40%;
    font-family: 'Trebuchet MS';
    background-color: white;
}
#myHeader {
    background-color: rgb(83, 131, 236);
    color: white;
    padding: 1%;
}