/* header styling */
.myHeader {
    background-color: #373a3e;
    font-family: Verdana, sans-serif;
    color: white;
    padding: 2%;
}
.userAvatar {
    border-radius: 50%;
    width: 15%;
}
.myLabel {
    margin-left: 3%;
}
.myLinks {
    color: white;
}
.myLinks:hover {
    color: #7ddebe;
}
/* body styling */
.pageBody {
    padding: 2%;
    background-color: aquamarine;
}
.mapClass {
    height: 100%;
    width: 100%;
}
#myMap {
    height: 500px;
    width: 100%;
}
